[package]
name = "ic-repl"
version = "0.4.0"
authors = ["DFINITY Team"]
edition = "2021"
default-run = "ic-repl"

[[bin]]
name = "ic-repl"
path = "src/main.rs"
doc = false

[build-dependencies]
lalrpop = "0.20"

[dependencies]
candid = { version = "0.9.0", features = ["all"] }
rustyline = "12.0"
rustyline-derive = "0.9"
ansi_term = "0.12"
pretty_assertions = "0.7"
terminal_size = "0.2"
codespan-reporting = "0.11"
pretty = "0.10"
pem = "1.1"
shellexpand = "3.0"
ic-agent = "0.24"
ic-identity-hsm = "0.24"
ic-wasm = { version = "0.4.0", default-features = false }
inferno = { version = "0.11", default-features = false, features = ["multithreaded", "nameattr"] }
tokio = { version = "1.24", features = ["full"] }
anyhow = "1.0"
rand = "0.8"
logos = "0.12"
lalrpop-util = "0.20"
clap = { version = "4.1", features = ["derive"] }
ring = "0.16"
rpassword = "7.0"
serde = "1.0"
serde_json = "1.0"
hex = { version = "0.4", features = ["serde"] }
sha2 = "0.10"
crc32fast = "1.2"
qrcode = "0.12"
image = { version = "0.23", default-features = false, features = ["png"] }
libflate = "1.2"
base64 = "0.13"

[patch.crates-io.ic-agent]
version = "0.24"
git = "https://github.com/chenyan-dfinity/agent-rs.git"
branch = "bump-candid"
[patch.crates-io.ic-identity-hsm]
version = "0.24"
git = "https://github.com/chenyan-dfinity/agent-rs.git"
branch = "bump-candid"

